@import "./variables";

@mixin md-elevation($level) {
	$umbra: map-get($md-elevation-umbra-map, $level);
	$penumbra: map-get($md-elevation-penumbra-map, $level);
	$ambient: map-get($md-elevation-ambient-map, $level);

	box-shadow: #{$umbra} rgba(0, 0, 0, $md-elevation-umbra-opacity),
		#{$penumbra} rgba(0, 0, 0, $md-elevation-penumbra-opacity),
		#{$ambient} rgba(0, 0, 0, $md-elevation-ambient-opacity);
}

@mixin md-elevation-transition {
	transition: $md-elevation-transition;
}
